body {
    background-color: white;
}

.hidden {
    visibility: hidden;
}

.black {
}

.white {
}

.error {
    color: black;
    font-weight: 600;
}

.container-bigLogo {
    border-radius: 0.3rem;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    padding-top: 8.5%;
    padding-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
}

.container-helper-bigLogo {
    padding-left: 0;
    padding-right: 0;
}

.logoButton {
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.bigLogo {
    width: 19%;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 500px) {
    .bigLogo {
        width: 18%;
    }
}
@media (max-width: 250px) {
    .bigLogo {
        width: 17%;
    }
}

#page-divider {
    height: 0vh;
}



/*  HEADERS START  */
#container-header-top10 {
    width: 100%;
    max-height: 5em;
    vertical-align: middle;
    z-index: -1;
    padding-bottom: 26%;
    pointer-events: none;
}

#container-header-hitPicks {
    width: 100%;
    max-height: 5em;
    vertical-align: middle;
    padding-bottom: 0.1%;
}
#lolAnotherContainer-top10 {
    top: -30%;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
}
#lolAnotherContainer-hitPicks {
    top: -2200%;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
}
.headerImage {
    position: relative;
    height: auto;
}
    .headerImage.SRN {
        left: -5%;
        width: 110%;
    }
    .headerImage.HitPicks {
        left: -6%;
        width: 112%;
    }

@media (min-width: 300px) {
    #container-header-top10 {
        padding-bottom: 26%;
    }

    #container-header-hitPicks {
        padding-bottom: 12%;
    }

    #lolAnotherContainer-top10 {
        top: -30%;
    }

    #lolAnotherContainer-hitPicks {
        top: -25%;
    }
}
@media (min-width: 360px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    #lolAnotherContainer-top10 {
        top: -36%;
    }

    #lolAnotherContainer-hitPicks {
        top: -15%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 400px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    #lolAnotherContainer-top10 {
        top: -36%;
    }

    #lolAnotherContainer-hitPicks {
        top: -15%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 500px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 576px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 26%;
    }

    #lolAnotherContainer-top10 {
        overflow: initial;
    }

    #lolAnotherContainer-hitPicks {
        overflow: initial;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 680px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 900px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 1080px) {
    #container-header-top10 {
        padding-bottom: 22%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 1200px) {
    #container-header-top10 {
        padding-bottom: 21.5%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3%;
        width: 105.5%;
    }
}
@media (min-width: 1400px) {
    #container-header-top10 {
        padding-bottom: 21.5%;
    }

    #container-header-hitPicks {
        padding-bottom: 25%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3.3%;
        width: 106%;
    }
}
@media (min-width: 1660px) {
    #container-header-top10 {
        padding-bottom: 21.1%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3.3%;
        width: 106%;
    }
}
@media (min-width: 1900px) {
    #container-header-top10 {
        padding-bottom: 21.7%;
    }

    #container-header-hitPicks {
        padding-bottom: 25.5%;
    }

    .headerImage.SRN {
        left: -1.5%;
        width: 103%;
    }

    .headerImage.HitPicks {
        left: -3.3%;
        width: 106%;
    }
}
/*
@media (min-width: 360px) {
    #container-header-top10 {
        border-radius: 0.3rem;
        text-align: center;
        width: 100%;
        vertical-align: middle;
        z-index: -1;
    }

    #container-header-hitPicks {
        border-radius: 0.3rem;
        text-align: center;
        width: 100%;
        vertical-align: middle;
    }

    .headerImage {
        position: relative;
        top: 400%;
        width: 92%;
        height: auto;
    }
}*/
/*  END HEADERS  */

@media (max-width: 359.9px) {
    #hitPicksContainer {
        position: relative;
        top: 20%;
    }
    .aboutButtonText {
        position: relative;
        top: 5em;
    }
    .aboutSection {
        position: relative;
        top: 5em;
    }
}
@media (max-width: 299.9px) {
    #hitPicksContainer {
        position: relative;
        top: 30%;
    }
    .aboutButtonText {
        position: relative;
        top: 7.5em;
    }
    .aboutSection {
        position: relative;
        top: 7.5em;
    }
}
@media (max-width: 249.9px) {
    #hitPicksContainer {
        position: relative;
        top: 35%;
    }
    .aboutButtonText {
        position: relative;
        top: 8.5em;
    }
    .aboutSection {
        position: relative;
        top: 8.5em;
    }
}

.aboutButtonText {
    color: #787878 !important;
    padding-top: 0;
    padding-right: 1%;
    max-width: 100%;
    cursor: pointer;
}

.aboutButtonText:hover {
    color: white !important;
}

.text {
    font-family: 'Open Sans';
    font-size: 12pt;
}

@media (max-width: 499.9px) {
    .text {
        font-size: 11pt;
    }
}
@media (max-width: 399.9px) {
    .text {
        font-size: 10pt;
    }
}
@media (max-width: 359.9px) {
    .text {
        font-size: 9pt;
    }
}
@media (max-width: 299.9px) {
    .text {
        font-size: 8pt;
    }
}
@media (max-width: 249.9px) {
    .text {
        font-size: 6pt;
    }
}

.aboutText {
    color: #787878 !important;
    padding-top: 0.95em;
    padding-bottom: 0.95em;
}

.row.row-listing {
    border-radius: 0.3rem;
    border: 1px solid;
    border-color: #575757;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    box-shadow: 1px 1px 2px #bbb;
}

    .row.row-listing .text-left.column-rank {
        padding-top: 1.1em;
        padding-left: 1.45em;
        padding-right: 0em;
        padding-bottom: 0em;
        font-size: 16pt;
        font-family: 'Press Start 2P';
        color: black;
        /*text-shadow: 0 0 4px #ffffff;*/
    }

    @media (max-width: 499.9px) {
        .row.row-listing .text-left.column-rank {
            padding-top: 1em;
            padding-left: 1.35em;
            font-size: 15pt;
        }
    }
    @media (max-width: 399.9px) {
        .row.row-listing .text-left.column-rank {
            padding-top: 1.1em;
            padding-left: 1.43em;
            font-size: 13pt;
        }
    }
    @media (max-width: 359.9px) {
        .row.row-listing .text-left.column-rank {
            padding-top: 0.85em;
            padding-left: 1.3em;
            font-size: 13pt;
        }
    }
    @media (max-width: 299.9px) {
        .row.row-listing .text-left.column-rank {
            padding-top: 0.8em;
            padding-left: 1.2em;
            font-size: 12pt;
        }
    }
    @media (max-width: 249.9px) {
        .row.row-listing .text-left.column-rank {
            padding-top: 0.7em;
            padding-left: 1.1em;
            font-size: 9pt;
        }
    }

    .row.row-listing .text-left.column-track {
        max-width: 90%;
        line-height: 1.38em;
        padding-left: 3.0em;
    }

        .row.row-listing .text-left.column-track .artist {
            color: white;
            font-weight: 600;
            padding-top: 0.92em;
            padding-bottom: 0em;
            max-width: 100%;
        }

        .row.row-listing .text-left.column-track .track {
            color: #787878;
            padding-top: 0em;
            padding-bottom: 0.92em;
            max-width: 100%;
        }

    @media (min-width: 250px) {
        .row.row-listing .text-left.column-track {
            max-width: 87%;
            padding-left: 3.9em;
        }
    }
    @media (min-width: 300px) {
        .row.row-listing .text-left.column-track {
            max-width: 88%;
            padding-left: 3.8em;
        }
    }
    @media (min-width: 360px) {
        .row.row-listing .text-left.column-track {
            max-width: 89%;
            padding-left: 4.4em;
        }
    }
@media (min-width: 400px) {
    .row.row-listing .text-left.column-track {
        max-width: 90%;
        padding-left: 4.4em;
    }
}
@media (min-width: 450px) {
    .row.row-listing .text-left.column-track {
        max-width: 90%;
        padding-left: 4em;
    }
}
    @media (min-width: 500px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 4em;
        }
    }
    @media (min-width: 680px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 3.9em;
        }
    }
    @media (min-width: 900px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 3.6em;
        }
    }
    @media (min-width: 1080px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 3.25em;
        }
    }
    @media (min-width: 1200px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 4em;
        }
    }
    @media (min-width: 1400px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 3.7em;
        }
    }
    @media (min-width: 1660px) {
        .row.row-listing .text-left.column-track {
            max-width: 90%;
            padding-left: 3.4em;
        }
    }
    @media (min-width: 1900px) {
    .row.row-listing .text-left.column-track {
        max-width: 90%;
        padding-left: 3em;
    }
}

.row.row-listing .text-left.column-logo {
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
    max-width: 6%;
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0em;
    max-height: 4.6em;
}

    .row.row-listing .text-left.column-logo .container-logo {
        background-color: white;
        border-radius: 0.2rem;
        padding-top: 2.5%;
        height: 100%;
        width: 4.6em;
        text-align: center;
    }

            .row.row-listing .text-left.column-logo .container-logo .logo {
                border-radius: 0.2rem;
                max-height: inherit;
                height: 100%;
                width: auto;
            }
    @media (max-width: 499.9px) {
        .row.row-listing .text-left.column-logo {
            max-height: 4.2em;
        }

            .row.row-listing .text-left.column-logo .container-logo {
                width: 4.2em;
            }
    }
    @media (max-width: 399.9px) {
    .row.row-listing .text-left.column-logo {
        max-height: 3.8em;
    }

        .row.row-listing .text-left.column-logo .container-logo {
            width: 3.8em;
        }
}
    @media (max-width: 359.9px) {
        .row.row-listing .text-left.column-logo {
            max-height: 3.4em;
        }
            .row.row-listing .text-left.column-logo .container-logo {
                width: 3.4em;
            }
    }
    @media (max-width: 299.9px) {
        .row.row-listing .text-left.column-logo {
            max-height: 3em;
        }
            .row.row-listing .text-left.column-logo .container-logo {
                width: 3em;
            }
    }
    @media (max-width: 249.9px) {
        .row.row-listing .text-left.column-logo {
            max-height: 2.2em;
        }
            .row.row-listing .text-left.column-logo .container-logo {
                width: 2.2em;
            }
    }

.column-thin {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}


.container-footer.black {
    text-align: center;
}

.footer.black {
    height: auto;
}

.container-footer.white {
    text-align: center;
    overflow: hidden;
}

.footer.white {
    height: auto;
}

@media (max-width: 1799.98px) {
    .container-footer.black {
        height: 20em;
    }

    .footer.black {
        height: 100%;
    }
}

@media (min-width: 1800px) {
    .container-footer.black {
        width: 100%;
        padding-top: 4%;
    }

    .footer.black {
        width: 100%;
        height: auto;
    }

    .container-footer.white {
        width: 100%;
        padding-top: 4%;
    }

    .footer.white {
        width: 100%;
        height: auto;
    }
}

.col-xs-1 {
    position: relative;
    width: 100%;
}

@media (min-width: 360px) {
    .col-xs-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
}

.col-xs-10 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 360px) {
    .col-xs-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 0;
        padding-left: 0;
    }
}

.col-xs-12 {
    position: relative;
    width: 100%;
}

@media (min-width: 360px) {
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}